/* Facilitate responsive carousel. */
div.view-highlighted div.view-content div,
div.view-highlighted div.view-content img {
  max-width: 100%;
}

div.view-highlighted .views-slideshow-overlay {
  position: absolute;
  bottom: 7px;
  padding: 15px;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.30 opacity */
  background: rgba(0, 0, 0, 0.30);
  color: #fff;
}

div.view-highlighted .views-slideshow-overlay h2,
div.view-highlighted .views-slideshow-overlay h4 {
  color: #fff;
}

.view-highlighted .skin-default {
  position: relative;
}

div.view-highlighted .views-slideshow-overlay {
  left: 0px;
  width: 520px;
  height: auto;
}

div.view-highlighted .views-slideshow-overlay a,
div.view-highlighted .views-slideshow-overlay a:link,
div.view-highlighted .views-slideshow-overlay a:active,
div.view-highlighted .views-slideshow-overlay a:visited {
  color: #fff;
}

div.view-highlighted .views-slideshow-overlay h4 {
  font-size: 110%;
}
div.view-highlighted .views-slideshow-controls-text-pause a{
	right: 50%;
	//background: url(images/controls.png) no-repeat -86px -44px;	
}
div.view-highlighted .views-slideshow-controls-text-next a{
	right: 50px;
	background: url(images/controls.png) no-repeat -43px -32px;
}
div.view-highlighted .views-slideshow-controls-text-previous a{
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}
div.view-highlighted .views-slideshow-controls-text-previous a:hover{
	background-position: 0 0;
}
div.view-highlighted .views-slideshow-controls-text-next a:hover{
	background-position: -43px 0;
}
div.view-highlighted .views-slideshow-controls-text-pause a{
	position: absolute;
	top: 50%;
	width: 9px;
	height: 11px;
	text-indent: -99999px;
	display: block;
	z-index: 999;
}

div.view-highlighted .views-slideshow-controls-text-next a, div.view-highlighted .views-slideshow-controls-text-previous a{
	position: absolute;
	top: 50%;
	width: 32px;
	height: 32px;
	text-indent: -99999px;
	display: block;
	z-index: 999;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a:link,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a:active,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a:visited {
  color: #ddd;
  padding: 3px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #000;
  text-decoration: none !important;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item.active,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item.active a,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item.active a:link,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item.active a:active,
div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item.active a:visited {
  color: #fff;
  font-weight: bold;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a:hover {
  text-decoration: none;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item a:hover {
  background-color: #888;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item {
  margin-right: 8px;
  float: left;
}

div.view-highlighted .views-slideshow-pager-fields .views-slideshow-pager-field-item:last-child {
  margin-right: 0px;
}

div.view-highlighted a.views-slideshow-button {
  text-align: center;
  background-color: #777;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-size: 0.9em;
  padding: 0.35em 0.75em;
  text-decoration: none !important;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.view-highlighted a.views-slideshow-button:hover {
  background-color: #555;
  text-decoration: none;
}

.views-slideshow-overlay h2, .views-slideshow-overlay h4 {
  margin-top: 0;
  margin-bottom: 10px;
}


